/**
 *	Author: Maramkhah, Shayon
 *	Date: January 9th, 2026
 *	Time: 11:29am
 *	Update: February 18th, 2026
 *	Version: 1.2
 *	File: Styles.css
 *	Description: 
 *		Cascading style sheet designed to link style into HTML5 document.
 * ***/
body{
	overflow: hidden;
	margin-right: 25%;
	margin-left:25%;
	background-color: rgb(128 64 64);
}

p{
	padding-right: 13px;
}

a{
	padding-right: 2px;
}

.Container2,.Container3{
	box-shadow: 2px 3px 5px 8px rgb(64 128 255);
	padding-top:25px;
}
.Container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255 64 32);
	border-radius: 50% 20% / 10% 40%; 
	box-shadow: 2px 3px 5px 8px rgb(64 128 255);
	height: 50%;
	width: 100%;
	margin-top: 20%;
	margin-left:10%;
	margin-right:10%;
	animation-name: crawl-play 255s linear infinite;
	perspective: 400px;
	font-family: 'Path Way Gothic One', sans-serif;
}

@media screen and (width < 400px){
	.Container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 50%;
		width: 50%;
		padding-top: 5%;
		animation-name: crawl-play 255s linear infinite;
		perspective: 400px;
		font-family: 'Path Way Gothic One', sans-serif;
	}
}

.Content{
	align-items: stretch;
	flex-direction: column;	
	position: absolute;
	transform-style: preserve-3d;
	animation: crawl-play 255s linear infinite;
}

@keyframes crawl-play{
	50%{
		top: -100%;
		transform: rotateX(20deg) translateZ(100em);
		opacity: 0;
	}
	100% {
		top: 100%;
		transform: rotateX(20deg) translateZ(-512em);
		opacity: 1;
	}
}

.Wakeup{
	flex-direction: row;
	align-items: stretch;
	margin: 20px 50px 10px;
}

@media screen and (width < 400px){
	.Wakeup{
		float: right;
		flex-direction: row;
		align-items: stretch;
		justify-content: right;
		margin-top:20%;
		margin-right:20%;
	}
}

@media screen and (width < 400px){
	.Content{
		float: right;
		justify-content: right;
		align-items: stretch;
		flex-direction: column;
		font-family: monospace;
		animation: crawl-play 255s linear infinite;
	}
}

.Points{
	color: green;
	font-size: 52px;
	font-family: monospace;
	position: absolute;
	top: 0px;
	left: 50%;
}

.Navigation-Bar{
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin: 10px 50px 20px;
	align-items: center;
	font-family: monospace;
	font-size: 13px;
		
}

.Container-Smasher{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	border: 13px outset black;
	margin-top: 13%;
	width:50%;
	height:50%;
	top: 25%;
	left: 25%;
}

@media screen and (width < 400px){
	.Container-Smasher{
		border: 13px outset black;
		margin-top: 26%;
		width: 300px;
		height: 250px;
		top: 0px;
		left: 0px;
	}
}


.Dot{
	border-radius: 25px;
	width: 50px;
	height: 50px;
	background-color: red;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: transform 1s;
}
